<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BDContext" connectionString="metadata=res://*/Entities.Segtransa.csdl|res://*/Entities.Segtransa.ssdl|res://*/Entities.Segtransa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MQDQUAR\SQLEXPRESS;initial catalog=Segtransa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FrontEnd.Properties.Settings.SEGTRANSAConnectionString"
      connectionString="Data Source=.;Initial Catalog=SEGTRANSA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FrontEnd.Properties.Settings.InventarioActivosConnectionString"
      connectionString="Data Source=DESKTOP-MQDQUAR\SQLEXPRESS;Initial Catalog=InventarioActivos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FrontEnd.Properties.Settings.SegtransaConnectionString1"
      connectionString="Data Source=DESKTOP-MQDQUAR\SQLEXPRESS;Initial Catalog=Segtransa;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>