<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDContext" connectionString="metadata=res://*/Entities.Segtransa.csdl|res://*/Entities.Segtransa.ssdl|res://*/Entities.Segtransa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=InventarioActivos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>